@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


body {
    font-family: 'Oswald', sans-serif;
}


.content-main {
    margin-left: 20px;
}

.display {
    margin-bottom: 60px;
}

.parent-box {
    display: flex;
    width: 80%;
    margin-bottom: 30px;
    padding: 50px 20px 20px 20px;
    background-color: #dbdbdb;
    border-radius: 10px;
}

.parent-box-caption {
    position: absolute;
    left: 54px;
    margin-top: 10px;
    font-size: 18px;
    color: #000;
}

.parent-box .child-box {
    text-align: center;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    color: #dbdbdb;
}

.parent-box .child-box:nth-of-type(3n+1) {
    background-color: #027b7f;
}

.parent-box .child-box:nth-of-type(3n+2) {
    background-color: #83a300;
}

.parent-box .child-box:nth-of-type(3n+3) {
    background-color: #fc1a1a;
}


/* ---------------------------- JUSTIFY-CONTENT ----------------------------*/


.jtf-content .jtf-start .parent-box {
    display: flex;
    justify-content: flex-start;
}

.jtf-content .jtf-center .parent-box {
    display: flex;
    justify-content: center;
}

.jtf-content .jtf-end .parent-box {
    display: flex;
    justify-content: flex-end;
}

.jtf-content .jtf-around .parent-box {
    display: flex;
    justify-content: space-around;
}

.jtf-content .jtf-between .parent-box {
    display: flex;
    justify-content: space-between;
}

.jtf-content .jtf-evenly .parent-box {
    display: flex;
    justify-content: space-evenly;
}

.jtf-content .jtf-evenly .parent-box {
    margin-bottom: 80px;
}


    /* ---------------------------- FLEX-DIRECTION ----------------------------*/
    
    
.flex-dct .flex-column .parent-box { 
    display: flex;
    flex-direction: column;
}

.flex-dct .flex-column .parent-box .child-box {
    width: 100px;
}

.flex-dct .flex-column-rv .parent-box { 
    display: flex;
    flex-direction: column-reverse;
}

.flex-dct .flex-column-rv .parent-box .child-box {
    width: 100px;
}

.flex-dct .flex-row .parent-box { 
    display: flex;
    flex-direction: row;
}

.flex-dct .flex-row .parent-box .child-box {
    width: 100px;
}

.flex-dct .flex-row-rv .parent-box { 
    display: flex;
    flex-direction: row-reverse;
}

.flex-dct .flex-row-rv .parent-box:last-child {
    margin-bottom: 80px;
}

.flex-dct .flex-row-rv .parent-box .child-box {
    width: 100px;
}


/* ---------------------------- ALIGN-ITEMS ----------------------------*/


.align-items .align-start .parent-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.align-items .align-end .parent-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.align-items .align-center .parent-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align-items .align-baseline .parent-box {
    display: flex;
    align-items: baseline;
}

.align-items .align-baseline .parent-box:last-child {
    margin-bottom: 80px;
}

.align-items .align-baseline .parent-box .child-box:nth-child(1) p {
    font-size: 40px;
}

.align-items .align-baseline .parent-box .child-box:nth-child(1) p:first-child {
    border-bottom: 2px solid #000;
} 

.align-items .align-baseline .parent-box .child-box:nth-child(2) p {
    font-size: 30px;
}

.align-items .align-baseline .parent-box .child-box:nth-child(2) p:first-child {
    border-bottom: 2px solid #000;
}

.align-items .align-baseline .parent-box .child-box:nth-child(3) p:first-child {
    border-bottom: 2px solid #000;
}



/* ---------------------------- FLEX-WRAP ----------------------------*/


.flex-wrap .wrap .parent-box{
    flex-wrap: wrap;
}

.flex-wrap .wrap-rv .parent-box {
    flex-wrap: wrap-reverse;
}

.flex-wrap .nowrap .parent-box {
    flex-wrap: nowrap;
}